#container {
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 1;
    max-width: 320px;
}

.pixel {
    height: 20px;
    width: 20px;
    border: solid black;
}

.color {
    background-color: black;;
}