* {
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-direction: column;
    height: 95vh;
    justify-content: center;
    align-items: center;
}

.button {
    align-self: center;
    font-size: 24px;
}
